.Blog_HeroSection {
  margin-top: 60px;
  min-height: 40vh;
  background-color: #1f1f1f;
  color: #fff;
}

.blog-hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.blog-hero-meta span {
  font-size: 14px;
}

.fas,
.far {
  color: #f8a925;
  font-size: 12px;
}

.readmore_btn {
  color: #f8a925;
  font-size: 16px;
  font-weight: 500;
  text-decoration: inherit;
  text-decoration: underline;
  padding-left: 10px;
}

.grid-blog-container {
  display: grid;
  transition: 1s;
  gap: 20px;
}
.grid-blog-item {
  /* background-color: #ac0d0dfc; */
  color: rgb(107, 106, 106);
  border: 1px solid #f5f5f5;
  padding-bottom: 20px;
  /* font-size: 1.5rem; */

  transition: 1s;
  /* border: 0.1px solid rgb(187, 187, 187); */
  /* min-height: 200px; */
}

/* Default layout: 6 columns */
.grid-blog-container {
  grid-template-columns: repeat(3, 1fr);
  transition: 1s;
}

.post_badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8a925;
  color: #1f1f1f;
  padding: 0.6em 1.2em;
  border-radius: 0px;
  font-size: 10px;
  margin: 0px;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.2px;
}

.post_title {
  color: #1f1f1f;
  text-decoration: none;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post_content {
  color: #5e5e5e;
  /* font-family: "Poppins"; */
  /* font-size: 14px; */
  font-weight: 300;
  text-transform: none;
  line-height: 1.5em;
  padding-left: 10px;
}

/* Responsive layout: 3 columns on smaller screens */
@media (max-width: 1254px) {
  .grid-blog-container {
    grid-template-columns: repeat(2, 1fr);
    transition: 1s;
  }
}

@media (max-width: 600px) {
  .grid-blog-container {
    grid-template-columns: repeat(1, 1fr);
    transition: 1s;
  }

  .grid-blog-item {
    height: auto;
  }

  .blog-hero-meta span {
    font-size: 14px;
  }
}

.BlogDetails_HeroSection {
  margin-top: 60px;
  /* min-height: 40vh; */
  background-color: #1f1f1f;
  color: #fff;
}

.fas,
.far {
  color: #f8a925;
  font-size: 12px;
}

.newsletter_block {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.newsletter_block input {
  width: 100%;
  padding: 8px;
}

.subscribe_now_btn {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  background: #000;
  padding: 8px;
  color: #f8a925;
}

.subscribe_now_btn:hover {
  color: #fff;
}

.elementor-share-btn {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition-duration: 0.2s;
  transition-property: filter, background-color, border-color;
  /* font-size: calc(0.85px * 10); */
  padding: 10px;
  /* height: 4.8em; */
  cursor: pointer;
}

.elementor-share-btn__icon {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  /* width:6em; */
  position: relative;
}

.elementor-share-btn:hover {
  filter: saturate(1.5) brightness(1.2);
}

.elementor-share-btn_facebook {
  background-color: #1877f2;
}

.elementor-share-btn_whatsapp {
  background-color: green;
}

.elementor-share-btn_twitter {
  background-color: #000000;
}

.elementor-share-btn_linkedin {
  background-color: #0a66c2;
}

.elementor-share-btn_mail {
  background-color: #ea4335;
}

.elementor-share-btn_pinterest {
    background-color: #bd081c;
  }

.blog_content img{
    height: auto;
    max-width: 100%;
}